<template>

  <div>
    API hostname <input v-model="apiHostname">
  </div>

  <div>
  <select name="cacheTreeView" v-model="selectedCacheNode" size="20" style="width: 200px; height:400px">
    <option v-for="node in cachedata" v-bind:key="node.id" v-bind:value="node" :style="node.style">
      {{node.level}}{{node.label}}
    </option>
  </select>

  <button v-on:click="loadNode">&lt;&lt;&lt;&lt;&lt;</button>

  <select name="dbTreeView" v-model="selectedDbNode" size="20" style="width: 200px; height:400px" >
    <option v-for="node in dbdata" v-bind:key="node.id" v-bind:value="node" :style="node.isDeleted ? 'color: red' : 'color: black'">
      <pre>{{node.level}}{{node.label}}</pre>
    </option>
  </select>
  </div>



  <div>
    <button v-on:click="showAddNode=true">+</button>
    <button v-on:click="deleteNode">-</button>
    <button v-on:click="showEditNodePanel">a</button>
    <button v-on:click="saveChanges">apply</button>
    <button v-on:click="reset">reset</button>
  </div>

  <div v-if="showAddNode">
    <input v-model="addNodeValue">
    <button v-on:click="addNode">OK</button>
  </div>

  <div v-if="showEditNode">
    <input v-model="editNodeValue">
    <button v-on:click="editNode">OK</button>
  </div>

  <div>
    {{message}}
  </div>


</template>

<script>
import axios from "axios";

export default {
  name: 'App',

  data() {
    return {
      apiHostname: "http://localhost:8081",
      message: "",

      dbdata: [],
      selectedDbNode: {},

      cachedata: [],
      selectedCacheNode: {},

      showAddNode: false,
      addNodeValue: "",

      showEditNode: false,
      editNodeValue: "",

    }
  },

  methods: {

    async reset() {
      await axios.post(this.apiHostname + '/api/reset');
      var errorMessage = "";
      var response = await axios.get(this.apiHostname + '/api/db/nodes')
              .catch(function (error) {
                if (error.response) {
                  errorMessage = error.response.data;
                }
              });
      this.message = errorMessage;
      if (errorMessage) {return;}

      var nodeArray = [];
      getChildNodesForDbView(response.data, nodeArray, 0);
      this.dbdata = nodeArray;

      this.cachedata = [];

      this.showAddNode = false;
      this.addNodeValue = "";
      this.showEditNode = false;
      this.editNodeValue = "";
    },

    async loadNode() {
      var errorMessage = "";
      if (!this.selectedDbNode.id) {
        this.message = "Please select database node";
        return;
      }

      var response = await axios.get(this.apiHostname + '/api/cache/nodes/' + this.selectedDbNode.id)
              .catch(function (error) {
                if (error.response) {
                  errorMessage = error.response.data;
                }
              });
      this.message = errorMessage;
      if (errorMessage) {return;}

      var nodeArray = [];
      response.data.forEach(function (cacheNode) {
        getChildNodesForCacheView(cacheNode, nodeArray, 0);
      });
      this.cachedata = nodeArray;

    },

    async addNode() {
      if (!this.selectedCacheNode.id) {
        this.message = "Please select parent node";
        return;
      }

      if (!this.addNodeValue) {
        this.message = "Node value is empty";
        return;
      }

      var errorMessage = "";
      var response = await axios.post(this.apiHostname + '/api/cache/nodes/' + this.selectedCacheNode.id,
              this.addNodeValue,
              {headers: {'Content-Type' : 'text/plain'}}
              )
              .catch(function (error) {
                if (error.response) {
                  errorMessage = error.response.data;
                }
              });
      this.message = errorMessage;
      if (errorMessage) {return;}

      var nodeArray = [];
      response.data.forEach(function (cacheNode) {
        getChildNodesForCacheView(cacheNode, nodeArray, 0);
      });
      this.cachedata = nodeArray;

      this.showAddNode = false;
      this.addNodeValue = "";

    },

    showEditNodePanel() {
      if (!this.selectedCacheNode.id) {
        this.message = "Please select node to edit";
        return;
      }
      this.editNodeValue = this.selectedCacheNode.label
      this.showEditNode = true;
    },

    async editNode() {
      if (!this.selectedCacheNode.id) {
        this.message = "Please select parent node";
        return;
      }

      if (!this.editNodeValue) {
        this.message = "Node value is empty";
        return;
      }

      var errorMessage = "";
      var response = await axios.put(this.apiHostname + '/api/cache/nodes/' + this.selectedCacheNode.id,
              this.editNodeValue,
              {headers: {'Content-Type' : 'text/plain'}}
      )
              .catch(function (error) {
                if (error.response) {
                  errorMessage = error.response.data;
                }
              });
      this.message = errorMessage;
      if (errorMessage) {return;}

      var nodeArray = [];
      response.data.forEach(function (cacheNode) {
        getChildNodesForCacheView(cacheNode, nodeArray, 0);
      });
      this.cachedata = nodeArray;

      this.showEditNode = false;
      this.editNodeValue = "";

    },

    async deleteNode() {
      if (!this.selectedCacheNode.id) {
        this.message = "Please select node to delete";
        return;
      }

      var errorMessage = "";
      var response = await axios.delete(this.apiHostname + '/api/cache/nodes/' + this.selectedCacheNode.id)
              .catch(function (error) {
                if (error.response) {
                  errorMessage = error.response.data;
                }
              });
      this.message = errorMessage;
      if (errorMessage) {return;}

      var nodeArray = [];
      response.data.forEach(function (cacheNode) {
        getChildNodesForCacheView(cacheNode, nodeArray, 0);
      });
      this.cachedata = nodeArray;

    },

    async saveChanges() {
      var errorMessage = "";
      this.message = "";
      var response = await axios.post(this.apiHostname + '/api/cache/nodes/apply')
              .catch(function (error) {
                if (error.response) {
                  errorMessage = error.response.data;
                }
              });

      if (errorMessage) {
        this.message = errorMessage;
        return;
      } else {
        this.message  = "Changes saved!";
      }

      var nodeArray = [];
      response.data.forEach(function (cacheNode) {
        getChildNodesForCacheView(cacheNode, nodeArray, 0);
      });
      this.cachedata = nodeArray;

      response = await axios.get(this.apiHostname + '/api/db/nodes')
              .catch(function (error) {
                if (error.response) {
                  errorMessage = error.response.data;
                }
              });
      if (errorMessage) {
        this.message = errorMessage;
        return;
      }

      nodeArray = [];
      getChildNodesForDbView(response.data, nodeArray, 0);
      this.dbdata = nodeArray;

      this.showAddNode = false;
      this.addNodeValue = "";
      this.showEditNode = false;
      this.editNodeValue = "";

    }
  },
  beforeMount(){
    this.reset()
  },

}

function getChildNodesForDbView(node, array, level) {
  var nodeView = {
    "id": node.id,
    "label": node.value,
    "level": "\u00A0\u00A0".repeat(level++),
    "isDeleted": node.deleted
  };
  array.push(nodeView);
  node.children.forEach(function(childNode) {
    getChildNodesForDbView(childNode, array, level)
  })
}

function getChildNodesForCacheView(cacheNode, array, level) {

  var nodeView = {
    "id": cacheNode.node.id,
    "label": cacheNode.node.value,
    "level": "\u00A0\u00A0".repeat(level++),
    "style": (cacheNode.saved ? "color: black" : "color: green") +
             (cacheNode.markedForUpdate ? "; font-style: italic" : "") +
             (cacheNode.markedForDelete ? "; color: red" : "")
  };
  array.push(nodeView);
  cacheNode.children.forEach(function(childNode) {
    getChildNodesForCacheView(childNode, array, level)
  })
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
